<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="comodoTestApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="container" ng-controller="generalCtrl as gen">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 navigationBar">
          <div class="row imageLogo" ng-click="gen.goHome()"></div>
          <div class="row main itemList"><a href="#/">Main</a></div>
          <div class="row listCV itemList"><a ng-href="#/listCV">List CV</a></div>
          <div class="row archive itemList"><a ng-href="#/archive">Archive</a></div>
          <div class="row contact itemList"><a ng-href="#/contact">Contact</a></div>
          <div class="row aboutUs itemList"><a ng-href="#/about">About us</a></div>
        </div>
        <div class="col-sm-10 col-md-10 col-sls-10 col-xl-10">
          <div class="row row-sm-10 row-md-10 row-lg-10 row-xs-10 menu">
            <button class="btn btn-primary createCV" ng-click="gen.createCV()">Create CV</button>
          </div>
          <div class="row row-sm-10 row-md-10 row-lg-10 row-xs-10 content" ng-view></div>
        </div>
      </div>
    </div>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <!-- Controller -->
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/archiveCtrl.js"></script>
        <script src="scripts/controllers/listCV.js"></script>
        <script src="scripts/controllers/createCVCtrl.js"></script>
        <script src="scripts/modals/notifications/notifications.modal.js"></script>
        <script src="scripts/controllers/editCVCtrl.js"></script>
        <script src="scripts/controllers/viewCV.js"></script>
        <script src="scripts/controllers/contactCtrl.js"></script>

        <!-- Routing -->
        <script src="scripts/routing.js"></script>

        <!-- Services -->
        <script src="scripts/services/Contact/contact.service.js"></script>
        <script src="scripts/services/About/about.service.js"></script>
        <script src="scripts/services/CV/cv.service.js"></script>
        <script src="scripts/services/Modal/modal.service.js"></script>
        <!-- Components -->
        <script src="scripts/components/createCV/createCV.component.js"></script>
        <script src="scripts/components/preview/preview.component.js"></script>
        <script src="scripts/components/listCV/listCV.component.js"></script>

        <!-- endbuild -->
</body>
</html>
