<div class="preview">
  <div class="previewName">
    <div class="textStyle">
      {{cv.cvdata.name}}
    </div>
  </div>
  <div class="contactInfoPreview">Contact info:
    <div class="textStyle">
      {{cv.cvdata.city + ' ' + cv.cvdata.phone + ' ' + cv.cvdata.email + ' ' + cv.cvdata.skype + ' ' + cv.cvdata.social}}
    </div>
  </div>
  <div class="summaryPreview">Summary: <div class="textStyle">{{cv.cvdata.summary}}</div></div>
  <div class="skillsPreview">Programming skills:
    <div class="textStyle">{{cv.cvdata.skills}}</div>
  </div>
  <div class="languagesPreview">Languages:
    <div class="textStyle">{{cv.cvdata.lang}}</div>
  </div>
  <div class="educationPreview">Education:
    <div class="textStyle">{{cv.cvdata.education}}</div>
  </div>
  <div class="workExpPreview">Work experience:</div>
  <div class="companyPreview">Company:
    <div class="textStyle">{{cv.cvdata.company}}</div>
  </div>
  <div class="projectPreview">Project:
    <div class="textStyle">{{cv.cvdata.project}}</div>
  </div>
  <div class="technologiesPreview">Technologies:
    <div class="textStyle">{{cv.cvdata.technologies}}</div>
  </div>
</div>
